/*
 * Global application theme.
 * Framework overrides and customization goes here.
 */

$primary: #231E39;
$secondary: #B3B8CD;
$light_blue: #03BFCB;
$dark_blue: #1F1A36;
$deep_dark: #2D2747;
$darkest:#10062d;

